section {
  padding-top: 50px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .card {
    width: 24%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;

    h3 {
      font-size: 20px;
      padding: 5px 0;
      margin-bottom: 10px;
      text-align: center;
    }
  }
}

.admin {
  background-color: rgb(233, 95, 95);
}

.moderate {
  background-color: rgb(241, 241, 39);
}
.user {
  background-color: rgb(52, 239, 52);
}
